/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
@import 'tailwindcss';

* {
  font-family: 'Roboto', sans-serif;
  /*  padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

body {
  /*  margin: 0;
  padding: 0; */
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

@layer components {
  .link-stand {
    @apply text-base text-blue-700 hover:text-cyan-500;
  }
}
